name: CI

on:
  push:

jobs:
  lint-and-security-checks:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v5.6.0
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --with dev

      - name: Run ruff checks
        run: poetry run ruff check

      - name: Install snyk
        uses: snyk/actions/setup@master
        with:
          snyk-version: v1.1298.3
      - name: Run snyk test
        run: snyk test --file=poetry.lock --package-manager=pip --fail-on=upgradable
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
